@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  * {
    border-color: hsl(0 0% 89.8%);
  }
  body {
    background-color: hsl(0 0% 100%);
    color: hsl(0 0% 3.9%);
  }

  .dark * {
    border-color: hsl(0 0% 14.9%);
  }

  .dark body {
    background-color: hsl(0 0% 3.9%);
    color: hsl(0 0% 98%);
  }

  /* Custom scrollbar */
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px;
  }

  .overflow-y-auto::-webkit-scrollbar-track {
    background: rgb(17 24 39);
    border-radius: 4px;
  }

  .overflow-y-auto::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.3);
    border-radius: 4px;
  }

  .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.5);
  }
}
