@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  * {
    border-color: hsl(0 0% 89.8%);
  }
  body {
    background-color: hsl(0 0% 100%);
    color: hsl(0 0% 3.9%);
  }

  .dark * {
    border-color: hsl(0 0% 14.9%);
  }

  .dark body {
    background-color: hsl(0 0% 3.9%);
    color: hsl(0 0% 98%);
  }
}
